
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Company List</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info"><i class="far fa-plus-square"></i>&nbsp;New Company</a>
    </div>
</div>
<br/>

<div class="p-4  border rounded">
    <table id="tblData" class="table table-bordered table-striped">
        <thead class="bg-dark text-white text-center">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
                <th>Is Authorized</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
{
<script src="~/js/Company.js"></script>
} 
